ETHUSD-1m-data.csv
BTUSD-1m-data.csv
.vscode
__pycache__
bitmex_ws/__pycache__
util/__pycache__
.DS_Store

#exclude data in all data directories
BacktestData/XBTUSD/*
BacktestData/ETHUSD/*
IndicatorData/XBTUSD/ATR/*
IndicatorData/XBTUSD/Engulfing/*
IndicatorData/XBTUSD/Keltner/*
IndicatorData/ETHUSD/ATR/*
IndicatorData/ETHUSD/Engulfing/*
IndicatorData/ETHUSD/Keltner/*
OrderbookData/XBTUSD/*
OrderbookData/ETHUSD/*
Plotting/XBTUSD/*
Plotting/ETHUSD/*

#exception for .gitkeep file to preserve data directories
!BacktestData/XBTUSD/.gitkeep
!BacktestData/ETHUSD/.gitkeep
!IndicatorData/XBTUSD/ATR/.gitkeep
!IndicatorData/XBTUSD/Engulfing/.gitkeep
!IndicatorData/XBTUSD/Keltner/.gitkeep
!IndicatorData/ETHUSD/ATR/.gitkeep
!IndicatorData/ETHUSD/Engulfing/.gitkeep
!IndicatorData/ETHUSD/Keltner/*
!OrderbookData/XBTUSD/.gitkeep
!OrderbookData/ETHUSD/.gitkeep
!Plotting/XBTUSD/.gitkeep
!Plotting/ETHUSD/.gitkeep
